<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rediger Udlæg</title>
</head>
<body>

    <form th:action="@{/dashboard/expenses/edit}" method="post" th:object="${Expense}">
        <input type="hidden" th:value="${expense.id}" name="id">
        <input type="number" placeholder="Pris" th:value="${expense.price}" name="price">
        <textarea placeholder="Beskrivelse" th:text="${expense.description}" name="description" cols="30" rows="10"></textarea>

        <select name="employeeId" >
            <optgroup label="Medarbejder">
                <div th:each="user:${users}">
                    <div th:if="${user.level > 20}">
                        <option th:text="${user.firstName}" th:value="${user.id}" th:selected="${expense.employeeId == user.id}"></option>
                    </div>
                </div>
            </optgroup>
        </select>

        <button type="submit">Gem</button>
    </form>

</body>
</html>