<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Udlæg</title>
</head>
<body>

    <form th:action="@{/expenses/create}" method="post" th:object="${Expense}">
        <input type="number" placeholder="Pris" name="price">
        <textarea placeholder="Beskrivelse" name="description" cols="30" rows="10"></textarea>

        <select name="employeeId" >
            <optgroup label="Medarbejder">
                <div th:each="user:${users}">
                    <div th:if="${user.level > 20}">
                        <option th:text="${user.firstName}" th:value="${user.id}"></option>
                    </div>
                </div>
            </optgroup>
        </select>

        <button type="submit">Opret Udlæg</button>
    </form>

</body>
</html>