<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" th:remove="tag">
    <nav class="header-container">
        <div class="nav-left">
            <a th:href="@{/}">
                <div class="back hover font">
                    <i class="fas fa-angle-left"></i>
                </div>
            </a>
            <a th:href="@{/dashboard/employee}">
                <div class="dashboard-logo">
                    <h1>Dashboard</h1>
                </div>
            </a>
        </div>
        <div class="nav-right">
            <div class="welcome">
                <p><span th:text="${session.firstname}"></span> <span th:text="${session.lastname}"></span></p>
            </div>
            <a th:href="@{/logout}">
                <div class="welcome hover">
                    <i class="fas fa-door-open"></i>
                </div>
            </a>
        </div>
    </nav>
</div>
