<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:if="${session.level >= 30}">
<head>
    <div th:replace="dashboard/fragments/head :: head" th:remove="tag"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main class="main">

    <!--MESSAGES: SUCCESS & FAIL-->
    <th:block th:switch="${msg}">
        <div th:case="'OPGAVEN ER BLEVET OPRETTET'" class="msg-n bg-lightgreen">
            <p th:text="${msg}"></p>
        </div>
        <div th:case="'OPGAVEN ER BLEVET REDIGERET'" class="msg-n bg-lightgreen">
            <p th:text="${msg}"></p>
        </div>
        <div th:case="'OPGAVEN ER BLEVET OPDATERET'" class="msg-n bg-lightgreen">
            <p th:text="${msg}"></p>
        </div>
        <div th:case="'MEDARBEJDER ER BLEVET TILFØJET'" class="msg-n bg-lightgreen">
            <p th:text="${msg}"></p>
        </div>
        <div th:case="'BILLEDET ER BLEVET TILFØJET'" class="msg-n bg-lightgreen">
            <p th:text="${msg}"></p>
        </div>
        <div th:case="*" class="msg-n bg-lightred">
            <div th:if="${msg!=null and #strings.length(msg) > 0}" th:remove="tag">
                <p th:text="${msg}"></p>
            </div>
        </div>
    </th:block>

    <!--TOP MENU BAR-->
    <div class="mini-menu">
        <a th:href="@{/dashboard/tilbud}">
            <div class="cwhite bg-purple">
                TILBUD
            </div>
        </a>
        <a th:href="@{/dashboard/opgaver}">
            <div class="bg-white">
                OPGAVER
            </div>
        </a>
        <a th:href="@{/dashboard/faerdigeopgaver}">
            <div class="bg-white">
                FÆRDIGE OPGAVER
            </div>
        </a>
    </div>

    <!--CREATE CASE-->
    <div class="container">
        <div th:if="${!edit and session.level > 40}" class="container-grid">
            <div class="container-header bg-purple">
                <h1>Opret nyt tilbud</h1>
            </div>
            <form th:action="@{/dashboard/TOF}" method="POST" th:object="${Case}">
                <label>Beskrivelse</label>
                <textarea name="description" cols="30" rows="10" placeholder="Beskrivelse"></textarea><br>
                <label>Pris:</label>
                <input type="number"         name="price"        placeholder="Pris"><br>
                <label>Start Dato</label>
                <div class="flex">
                    <input type="date" name="startDate"    placeholder="startDate"    class="date">
                    <input type="time" name="startTime"    placeholder="startTime"    class="time"><br>
                </div>
                <label>Slut Dato</label>
                <div class="flex">
                    <input type="date" name="endDate"      placeholder="endDate"      class="date">
                    <input type="time" name="endTime"      placeholder="endTime"      class="time"><br>
                </div>
                <input type="hidden"         name="mode"         placeholder=""             value="1">
                <label>Kunde</label>
                <select name="customerId">
                    <div th:each="u : ${users}" th:remove="tag">
                        <option th:value="${u.id}"><span th:text="${u.firstName}"></span> <span th:text="${u.lastName}"></span></option>
                    </div>
                </select><br>
                <button type="submit" class="bg-lightgreen">Opret</button>
            </form>
        </div>

        <!--EDIT CASE-->
        <div th:if="${edit and session.level > 40}" class="container-grid">
            <h1>Redigere tilbud</h1>
            <form th:action="@{/dashboard/TOF/redigere}" method="POST" th:object="${Case}">
                <input type="hidden" th:value="${findById.id}" name="id">
                <label>Beskrivelse</label>
                <textarea name="description" cols="30" rows="10" placeholder="description"><span th:text="${findById.description}" th:remove="tag"></span></textarea><br>
                <label>Pris</label>
                <input type="number"         name="price"        placeholder="price"        th:value="${findById.price}"><br>
                <label>Start Dato</label>
                <div class="flex">
                    <input type="date" name="startDate"    placeholder="startDate"    th:value="${findById.startDate}" class="date">
                    <input type="time" name="startTime"    placeholder="startTime"    th:value="${findById.startTime}" class="time"><br>
                </div>
                <label>Slut Dato</label>
                <div class="flex">
                    <input type="date" name="endDate"      placeholder="endDate"      th:value="${findById.endDate}" class="date">
                    <input type="time" name="endTime"      placeholder="endTime"      th:value="${findById.endTime}" class="time"><br>
                </div>

                <input type="hidden"         name="mode"         placeholder=""             th:value="${findById.mode}">
                <label>Kunde:</label>
                <select name="customerId">
                    <div th:each="u : ${users}" th:remove="tag">
                        <p th:text="${findById.customer.id}"></p>
                        <p th:text="${u.id}"></p>
                        <option th:value="${u.id}" th:selected="${findById.customer.id == u.id}"><span th:text="${u.firstName}"></span> <span th:text="${u.lastName}" ></span></option>
                    </div>
                </select><br>
                <button type="submit" class="bg-lightgreen">Redigere</button>
            </form>
        </div>

        <!--JOBS: ADD AND REMOVE EMPLOYEES FROM A CASE-->
        <div th:if="${edit and session.level > 40}" class="container-grid">
            <form th:action="@{/dashboard/TOF/NytJob}" method="POST" th:object="${Jobs}">
                <input type="hidden" th:value="${findById.id}" name="caseId">
                <select name="employeeId" class="employee-select">
                    <div th:each="e : ${employees}" th:remove="tag">
                        <option th:value="${e.id}"><span th:text="${e.firstName}"></span> <span th:text="${e.lastName}"></span></option>
                    </div>
                </select>
                <button type="submit" class="tilfoej bg-lightgreen cwhite">Tilføj</button>
            </form>
            <table>
                <tr>
                    <th>Folk på jobbet</th>
                    <th></th>
                </tr>
                <tr th:each="j : ${jobs}">
                    <td><span th:text="${j.employees.firstName}"></span> <span th:text="${j.employees.lastName}"></span></td>
                    <td>
                        <form th:action="@{/dashboard/TOF/fjernJob/{id}(id=${j.caseId})}" method="POST" th:object="${Jobs}">
                            <input type="hidden" th:value="${j.id}" name="id">
                            <button type="submit" class="bg-lightred float-right">Fjern</button>
                        </form>
                    </td>

                </tr>
            </table>
        </div>

        <!--IMAGE UPLOAD-->
        <div th:if="${edit and session.level > 20}">
            <div class="container-image-upload">
                <form action="/storage/uploadImage" th:object="${Case}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" multiple >
                    <input type="hidden" th:value="${findById.id}" name="id">
                    <button type="submit">Upload</button>
                </form>
            </div>
        </div>

        <!--IMAGE VIEW-->
        <div th:if="${edit and session.level > 20}">
            <div class="container-images">
                <div th:each="image : ${images}">
                    <a th:href="${image.fileUrl}" target="_blank">
                        <img th:src="${image.fileUrl}" width="175">
                    </a>
                    <form th:action="@{/dashboard/TOF/fjernBillede/{id}(id=${findById.id})}" method="POST" th:object="${image}">
                        <input type="hidden" th:value="${image.fileId}" name="fileId">
                        <input type="hidden" th:value="${image.fileUrl}" name="fileUrl">
                        <button class="slet-image-button bg-lightred cwhite" type="submit">Slet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--TABLE OF ALL CASES-->
    <div class="container-table" th:if="${session.level > 30 || session.level == 30 && !edit}">
        <table>
            <tr>
                <th>Dato</th>
                <th>Adresse</th>
                <th>Kunde navn</th>
                <th></th>
                <th></th>
                <th th:if="${session.level > 40}"></th>
                <th th:if="${session.level > 40}"></th>

            </tr>
            <!--TABLE FOR EMPLOYEE-->
            <div th:if="${session.level < 40 and session.level > 20}" th:remove="tag">
                <div th:each="ca : ${caseById}" th:remove="tag">
                    <tr>
                        <td><span th:text="${ca.startDate}"></span></td>
                        <td><span th:text="${ca.customer.address}"></span>, <span th:text="${ca.customer.zip}"></span> <span th:text="${ca.customer.city}"></span></td>
                        <td><span th:text="${ca.customer.firstName}"></span> <span th:text="${ca.customer.lastName}"></span></td>
                        <td class="width100"><a th:href="@{/dashboard/TOF/vis/{id}(id=${ca.id})}">Vis mere</a></td>
                        <td class="width160">
                            <a th:href="@{/dashboard/TOF/redigere/{id}(id=${ca.id})}" class="redigere cwhite bg-orange">Tilføj Billede</a>
                        </td>
                    </tr>
                </div>
            </div>
            <!--TABLE FOR MANAGERS & LEADERS-->
            <div th:if="${session.level > 40}" th:remove="tag">
                <div th:each="case : ${case}" th:remove="tag">
                    <tr>
                        <td><span th:text="${case.startDate}"></span></td>
                        <td><span th:text="${case.customer.address}"></span>, <span th:text="${case.customer.zip}"></span> <span th:text="${case.customer.city}"></span></td>
                        <td><span th:text="${case.customer.firstName}"></span> <span th:text="${case.customer.lastName}"></span></td>
                        <td class="width100"><a th:href="@{/dashboard/TOF/vis/{id}(id=${case.id})}">Vis mere</a></td>
                        <td class="width100">
                            <form th:action="@{/dashboard/TOF/slet/{id}(id=${case.id})}" method="POST" th:object="${Case}">
                                <button type="submit" class="bg-lightred cwhite">Slet</button>
                            </form>
                        </td>
                        <td class="width100">
                            <a th:href="@{/dashboard/TOF/redigere/{id}(id=${case.id})}" class="redigere cwhite bg-orange">Rediger</a>
                        </td>
                        <td class="width100">
                            <form th:action="@{/dashboard/TOF/upgrade/{id}(id=${case.id})}" method="POST" th:object="${Case}">
                                <input type="hidden"         name="description"  placeholder=""    th:value="${case.description}">
                                <input type="hidden"         name="price"        placeholder=""    th:value="${case.price}">
                                <input type="hidden"         name="startDate"    placeholder=""    th:value="${case.startDate}">
                                <input type="hidden"         name="endDate"      placeholder=""    th:value="${case.endDate}">
                                <input type="hidden"         name="startTime"    placeholder=""    th:value="${case.startTime}">
                                <input type="hidden"         name="endTime"      placeholder=""    th:value="${case.endTime}">
                                <input type="hidden"         name="customerId"   placeholder=""    th:value="${case.customer.id}">
                                <input type="hidden"         name="mode"         placeholder=""    th:value="2">
                                <button type="submit" class="bg-lightgreen cwhite">OPGAVE</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </div>
        </table>
    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer" th:remove="tag"></div>
</footer>
</body>
</html>