@import "color";
.section-gray {
  background: $light-gray;
  padding: 100px 0;
}

.section-white {
  background: #fff;
  padding: 100px 0;
}

.hello {
  height: 4px;
  width: 70px;
  background: $primary-color;
  margin: 17px 10px 0 0;
}

.container {
  width: 90%;
  max-width: 1650px;
  margin: 0 auto;
  .head-tekst {
    border-left: 5px solid $primary-color;
    padding-left: 20px;
    margin: 0 auto 100px;
    width: 620px;
    p {
      font-size: 20px;
      margin-bottom: 5px;
    }
    h2 {
      line-height: 70px;
      font-size: 50px;
    }
  }
}
.section-content {
  font-size: 13px;
}

.top-banner {
  background: url("bg.jpg") no-repeat center center fixed;
  height: 80vh;
  max-height: 1000px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  .center-text {
    width: 875px;
    margin: 0 auto;
    a {
      color: white;
      i {
        font-size: 40px;
      }
    }
  }
  .linesplit {
    width: 100px;
    height: 1px;
    background: white;
    margin: 0 auto;
  }
  p {
    font-size: 1.2em;
    line-height: 1.15;
    padding: 1rem;
  }
  h2 {
    font-size: 80px;
    line-height: 1.15;
    margin: 1rem;
  }
}

.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .tekst {
    .h3 {
      margin-bottom: 30px;
      display: flex;
      h3 {
        font-size: 35px;
        line-height: 40px;
      }
    }
    p {
      line-height: 30px;
      font-size: 20px;
      font-family: Proxima-Nova-Regular;
    }

  }
  .image, .tekst {
    width: 49%;
    max-width: 825px;
    text-align: justify;
    img {
      width: 100%;
      max-width: 825px;
      margin-top: 5px;
    }
  }
}
.task {
  h2 {
    font-size: 100px;
    margin-bottom: 100px;
    text-align: center;
  }
  .tasks {
    .single-task {
      width: 100%;
      height: 500px;
      margin-bottom: 100px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .pic-1, .pic-2, .pic-3, .pic-4 {
        height: 78%;
        top: 0;
        left: 0;
      }
      .pic-1 {
        background: url("pic-1.jpg") no-repeat;
      }
      .pic-2 {
        background: url("pic-2.jpg") no-repeat;
        margin-left: 50%;
      }
      .pic-3 {
        background: url("pic-3.jpg") no-repeat;
      }
      .pic-4 {
        background: url("pic-4.jpg") no-repeat;
        margin-left: 50%;
      }
      .information-tekst {
        width: 60%;
        left: 0;
        bottom: 0;
        background: $dark-gray;
        margin-top: -161px;
        margin-left: 40%;
        color: white;
        padding: 30px;
        .h3 {
          margin-bottom: 30px;
          display: flex;

          h3 {
            font-size: 35px;
            line-height: 40px;
          }
        }
        p {
          line-height: 30px;
          font-size: 20px;
          font-family: Proxima-Nova-Regular;
        }
      }
    }
    .reverse {
      .pic {
        margin-left: 845px;
        margin-right: 0;
      }
      .information-tekst {
        margin-right: 40%;
        margin-left: 0;
      }
    }
  }
}

.contact {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  h2 {

  }
}
.place {
  width: 35%;
  background-color: $light-gray;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .icon-row {
    width: 15%;
  }
  .text-row {
    width: 85%;
    margin-bottom: 60px;
  }
  i {
    font-size: 38px;
    color: $primary-color;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
    line-height: 30px;
  }
  .email {
    margin-top: 30px;
    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 20px;
    }
  }
  .phone {
    font-size: 20px;
    color: $primary-color;
  }
}
.kontakt {
  width: 60%;
  h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  p {
    line-height: 30px;
    font-size: 20px;
    font-family: Proxima-Nova-Regular;
    margin-bottom: 65px;
  }
  form {
    label {
      line-height: 20px;
    }
    input, textarea {
      max-width: 100%;
      min-width: 100%;
      padding: 10px 15px 10px 0;
      border: none;
      margin-bottom: 5px;
      border-bottom: 1px solid #d8d8d8;
      margin-bottom: 30px;
      font-size: 20px;
    }
    ::placeholder {
      color: #cdcdcd;
    }
    textarea {
      height: 100px;
    }
    button {
      background: $primary-color;
      color: white;
      border: none;
      padding: 20px 15px;
      width: 20%;
      margin-left: 80%;
      font-size: 20px;
    }
  }
}
.header-fake {
  width: 100%;
  background-color: rgba(24, 24, 24, 0.95);
  height: 102px;
}
.login-page {
  width: 100%;
  height: 100vh;
  background: url("bg.jpg") no-repeat center center fixed;
  .aside-login {
    width: 33%;
    min-width: 320px;
    float: right;
    height: 100%;
    padding: 270px 50px;
    background-color: rgba(24, 24, 24, 0.95);
    h2 {
      color: white;
      margin-bottom: 20px;
      font-size: 30px;
    }
    label {
      line-height: 40px;
      font-size: 20px;
      color: white;
    }
    input {
      width: 100%;
      padding: 10px 15px;
      border: none;
      border-bottom: 1px solid #6f6f6f;
      margin-bottom: 30px;
      font-size: 20px;
      background-color: rgba(24, 24, 24, 0);
      color: white;
    }
    button {
      background: #c2171d;
      color: white;
      border: none;
      padding: 20px 15px;
      float: right;
      font-size: 20px;
    }
  }
}
.calc-page {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.beregner {
  margin: 0 auto;
  font-size: 20px;
  width: 640px;
  h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 90px;
    font-size: 50px;
  }
  p {
    line-height: 30px;
    font-size: 20px;
    font-family: Proxima-Nova-Regular;
  }
  .p {
    margin-bottom: 25px;
  }
  label {
    line-height: 50px;
  }
  input, select {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 30px;
    font-size: 20px;
    color: #8c8c8c;
    ::placeholder {
      color: #cdcdcd;
    }
  }
  button {
    background: #c2171d;
    color: white;
    border: none;
    padding: 20px 15px;
    width: 20%;
    margin-left: 80%;
    font-size: 20px;
  }
}

