$primary-color: #c2171d;

$dark-gray: rgba(24, 24, 24, 0.67);
$light-gray: #f6f6f6;

$light-green: #4caf50;
$light-blue: #00bcd4;
$purple: #8E7CC3;
$pink: #C27BA0;
$grey-blue: #76A5AF;
$yellow: #ff9800;
$orange: #F6B26B;
$light-red: #E06666;
$brown-red: #f44336;
$gray: #888888;



//DASHBOARD
$bg-color: #f3f3f3;
$text: #495057;
$ui-color: #fff;
$border-color: rgba(0,0,0,.0625);