@import "color";
.main {
  width: 100%;
  padding: 20px;
  background-color: $bg-color;
}
.container {
  width: 100%;
  margin-top: -20px;
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1.5fr);
  .container-grid {
    width: 100%;
    background: #fff;
    padding: 30px;
    border: 1px solid $border-color;
    .date {
      width: 30%;
      border-radius: 10px 0 0 10px;
    }
    .time {
      width: 70%;
      border-radius: 0 10px 10px 0;
    }
    button {
      color: white;
    }
    h1 {
      font-size: 25px;
      margin: 0 0 30px 0;
    }
  }
  .employee-select {
    width: 80%;
    float: left;
    margin-top: 0;
  }
  .tilfoej {
    width: 18%;
    float: right;
    line-height: 18px;
  }

}
.redigere {
  padding: 10px 15px;
  line-height: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.mini-menu {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(4, 1.5fr);
  margin-top: -20px;
  margin-bottom: 40px;
  a {
    color: black;
    div {
      height: 80px;
      line-height: 25px;
      text-align: center;
      font-size: 18px;
      padding: 30px;
      border: 1px solid $border-color;
    }
  }
}
.container-image-upload {
  width: 100%;
  background: white;
  padding: 30px;
  border: 1px solid $border-color;
}
.container-images{
  width: 100%;
  background: white;
  padding: 30px;
  border: 1px solid $border-color;
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 9px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1.5fr);
}
.slet-image-button {
  margin-top: -35px;
  border-radius: 0;
}
.show {
  th {
    width: 200px;
  }
}
.back-button {
  width: 200px;
  background: #fff;
  line-height: 50px;
  font-size: 20px;
  padding: 0 20px;
  margin: -20px 0 40px;
  i {
    font-size: 17px;
  }
}