@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "color";
* {
  padding: 0;
  margin: 0;
  font-family: "Proxima-Nova-Bold", "Proxima-Nova-Black", 'Roboto', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: $dark-gray;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Proxima-Nova-Black";
  src: url(Proxima-Nova-Black.otf);
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url(Proxima-Nova-Bold.otf);
}

@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url(Promixa-Nova-Regular.ttf);
}

.bg-brownred {
  background: $brown-red;
}

.bg-lightred {
  background: $light-red;
}
.bg-orange {
  background: $orange;
}
.bg-yellow {
  background: $yellow;
}
.bg-greyblue {
  background: $grey-blue;
}
.bg-pink {
  background: $pink;
}

.bg-lightred {
  background: $light-red;
}

.bg-purple {
  background: $purple;
}
.bg-lightblue {
  background: $light-blue;
}
.bg-lightgreen {
  background: $light-green;
}

.bg-grey {
  background: $gray;
}
