<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rediger Aftale</title>
</head>
<body>
<a th:href="@{/dashboard/kalender}">tilbage</a>

    <form th:action="@{/appointment/edit}" method="post" th:object="${Appointment}">
        <input type="hidden" th:value="${appointment.id}" name="id">
        <textarea placeholder="Description" th:text="${appointment.description}" name="description" id="" cols="30" rows="10"></textarea>
        <input type="datetime-local" step="1" th:value="${appointment.date}" name="date">

        <select name="employeeId" >
            <optgroup label="Medarbejder">
                <div th:each="user:${users}">
                    <div th:if="${user.level > 20}">
                        <option th:text="${user.firstName}" th:value="${user.id}" th:selected="${appointment.employeeId == user.id}"></option>
                    </div>
                </div>
            </optgroup>
        </select>

        <select name="customerId" >
            <optgroup label="Kunde">
                <div th:each="user:${users}">
                    <div th:if="${user.level < 20}">
                        <option th:text="${user.firstName}" th:value="${user.id}" th:selected="${appointment.customerId == user.id}"></option>
                    </div>
                </div>
            </optgroup>
        </select>

        <button type="submit">Save</button>
    </form>

</body>
</html>