<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer">
        <div class="container">
            <div class="social">
                <h4>GOOD<span>MAN</span>SERVICE<span class="dot">:::</span></h4>
                <div class="social-icons">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="info-footer">
            <div class="container">
                <div class="footer-grid">
                    <div class="left">
                        <h3>OVERSIGT</h3>
                        <a href=""><p>FORSIDE</p></a>
                        <a href=""><p>BEREGNER</p></a>
                        <a href="#omos"><p>OM OS</p></a>
                        <a href="#kontakt"><p>KONTAKT</p></a>
                        <a href=""><p>LOGIN</p></a>
                    </div>
                    <div class="center">
                        <h3>KONTAKT INFORMATION</h3>
                        <p><i class="fa fa-phone"></i>+45 22 24 01 27</p><br>
                        <p><i class="far fa-clock"></i>Mandag-torsdag kl. 8.00-15.30</p>
                        <p><i class="far fa-clock"></i>Fredag kl. 8.00-14.00</p><br>
                        <p><i class="far fa-envelope"></i>Kontakt@Goodmanservice.dk</p>
                    </div>
                    <div class="right">
                        <h3>FIND OS</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1562.6259457756485!2d12.600699315113715!3d55.62205270029272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653ab3600a6f153%3A0xfc668ef10b999dc4!2sT%C3%A5rnbyg%C3%A5rdvej+9%2C+2770+Kastrup!5e0!3m2!1sda!2sdk!4v1477314416852" width="400" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>

            </div>
            <hr>
            <div class="container">
                <div class="designer">
                    <p>Designed by Marcus Drejer, Nick Kisbye & Joachim Nielsen</p>
                    <p>Copyright © 2019 GoodmanService:::</p>
                </div>
            </div>
        </div>

    </div>
</div>