<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>

    <div>
        <h3>Appointments</h3>
        <table class="table consultation overviewTable">
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Employee</th>
                <th>Customer</th>
            </tr>
            <div th:each="a:${appointments}">
                <tr>
                    <td th:text="${a.description}"></td>
                    <td th:text="${a.date}"></td>
                    <td th:text="${a.employee.firstName}"><span th:text="${a.employee.lastName}"></span></td>
                    <td th:text="${a.customer.firstName}"><span th:text="${a.customer.lastName}"></span></td>
                </tr>
            </div>
        </table>
    </div>

</body>
</html>