<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main>
    <div class="main-container">

        <section class="dashboard-container">
            <h2 class="dashboard-headline">Dashboard <span class="red">:::</span></h2>
            <div class="dashboard-item"><div class="dashboard-item-head bg-lightred">Brugere</div><div class="dashboard-item-body">

                <p th:text="${message}"></p>
                <div th:if="${edit}">
                <form action="/dashboard/brugere/edit/" method="post" th:object="${User}" th:each="userinfo : ${user}">
                    <input type="text" placeholder="Fornavn" name="firstName" th:value="${userinfo.firstName}">
                    <input type="text" placeholder="Efternavn" name="lastName" th:value="${userinfo.lastName}">
                    <input type="email" placeholder="Email" name="email" th:value="${userinfo.email}">
                    <input type="text" placeholder="Adresse" name="address" th:value="${userinfo.address}">
                    <input type="text" placeholder="By" name="city" th:value="${userinfo.city}">
                    <input type="text" placeholder="Postnummer" name="zip" th:value="${userinfo.zip}">
                    <input type="text" placeholder="Telefon Nr." name="phoneNumber" th:value="${userinfo.phoneNumber}">
                    <input type="password" placeholder="Kodeord" name="password">
                    <input type="hidden" name="id" th:value="${userinfo.id}">
                    <select name="rid">
                        <option th:each="role : ${roles}" th:value="${role.rid}"><p th:text="${role.roleName}"></p></option>
                    </select>
                    <button type="submit">Ret bruger</button>
                </form>
                </div>
                <div th:if="${!edit}">
                    <form action="/dashboard/brugere/create" method="post" th:object="${User}">
                        <input type="text" placeholder="Fornavn" name="firstName">
                        <input type="text" placeholder="Efternavn" name="lastName">
                        <input type="email" placeholder="Email" name="email">
                        <input type="text" placeholder="Adresse" name="address">
                        <input type="text" placeholder="By" name="city">
                        <input type="text" placeholder="Postnummer" name="zip">
                        <input type="text" placeholder="Telefon Nr." name="phoneNumber">
                        <input type="password" placeholder="Kodeord" name="password">
                        <select name="rid">
                            <option th:each="role : ${roles}" th:value="${role.rid}"><p th:text="${role.roleName}"></p></option>
                        </select>
                        <button type="submit">Opret bruger</button>
                    </form>
                </div>

                <table>
                    <tr>
                        <th>Fornavn</th>
                        <th>Efternavn</th>
                        <th>Email</th>
                        <th>Addresse</th>
                        <th>Telefon</th>
                        <th>Rolle</th>
                        <th></th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.address}"></td>
                        <td th:text="${user.phoneNumber}"></td>
                        <td th:text="${user.roleName}"></td>
                        <td><a th:href="@{/dashboard/brugere/delete/{id}(id=${user.id})}">Slet bruger</a>
                            <a th:href="@{/dashboard/brugere/edit/{id}(id=${user.id})}">Ret bruger</a>
                        </td>
                    </tr>
                </table>

            </div></div>
        </section>
    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>