<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main class="main">

    <th:block th:switch="${msg}">
        <div th:case="'OPRETTET'" class="msg-n bg-lightgreen">
            <p th:text="${msg}"></p>
        </div>
        <div th:case="'REDIGERET'" class="msg-n bg-lightgreen">
            <p th:text="${msg}"></p>
        </div>
        <div th:case="*" class="msg-n bg-lightred">
            <div th:if="${msg!=null and #strings.length(msg) > 0}" th:remove="tag">
                <p th:text="${msg}"></p>
            </div>
        </div>
    </th:block>

    <div class="container">
        <section class="container-grid">
            <div class="container-header bg-lightred">
                <h1>Brugere</h1>
            </div>
            <p th:text="${message}"></p>
            <div th:if="${edit}">
                <form action="/dashboard/brugere/edit/" method="post" th:object="${User}">
                    <label>Fornavn</label>
                    <input type="text" placeholder="Fornavn" name="firstName" th:value="${user.firstName}">
                    <label>Efternavn</label>
                    <input type="text" placeholder="Efternavn" name="lastName" th:value="${user.lastName}">
                    <label>Email</label>
                    <input type="email" placeholder="Email" name="email" th:value="${user.email}">
                    <label>Adresse</label>
                    <input type="text" placeholder="Adresse" name="address" th:value="${user.address}">
                    <label>By & Postnummer</label>
                    <div class="flex">
                        <input type="text" placeholder="By" name="city" th:value="${user.city}" class="date">
                        <input type="number" placeholder="Postnummer" name="zip" th:value="${user.zip}" class="time">
                    </div>
                    <label>Telefon Nr.</label>
                    <input type="tel" placeholder="Telefon Nr." name="phoneNumber" th:value="${user.phoneNumber}">
                    <label>Kodeord</label>
                    <input type="password" placeholder="Kodeord" name="password">
                    <label>Rolle</label>
                    <input type="hidden" name="id" th:value="${user.id}">
                    <select name="rid">
                        <div th:each="role : ${roles}">
                            <option th:text="${role.roleName}" th:value="${role.rid}" th:selected="${user.rid == role.rid}"></option>
                        </div>
                    </select>
                    <button type="submit" class="bg-lightgreen">Ret bruger</button>
                </form>
            </div>
            <div th:if="${!edit}">
                <form action="/dashboard/brugere/create" method="post" th:object="${User}">
                    <label>Fornavn</label>
                    <input type="text" placeholder="Fornavn" name="firstName">
                    <label>Efternavn</label>
                    <input type="text" placeholder="Efternavn" name="lastName">
                    <label>Email</label>
                    <input type="email" placeholder="Email" name="email">
                    <label>Adresse</label>
                    <input type="text" placeholder="Adresse" name="address">
                    <label>By & Postnummer</label>
                    <div class="flex">
                        <input type="text" placeholder="By" name="city" class="date">
                        <input type="number" placeholder="Postnummer" name="zip" class="time">
                    </div>
                    <label>Telefon Nr.</label>
                    <input type="tel" placeholder="Telefon Nr." name="phoneNumber">
                    <label>Kodeord</label>
                    <input type="password" placeholder="Kodeord" name="password">
                    <label>Rolle</label>
                    <select name="rid">
                        <option th:each="role : ${roles}" th:value="${role.rid}" th:text="${role.roleName}"></option>
                    </select>
                    <button type="submit" class="bg-lightgreen">Opret bruger</button>
                </form>
            </div>
        </section>
    </div>

    <div class="container-table">
        <table>
            <tr>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Email</th>
                <th>Addresse</th>
                <th>Telefon</th>
                <th>Rolle</th>
                <th>Muligheder</th>
                <th></th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.roleName}"></td>
                <td class="width80"><a th:href="@{/dashboard/brugere/delete/{id}(id=${user.id})}" class="redigere cwhite bg-lightred">Slet</a></td>
                <td class="width80"><a th:href="@{/dashboard/brugere/edit/{id}(id=${user.id})}" class="redigere cwhite bg-orange">Redigere</a></td>
            </tr>
        </table>
    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>