<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:if="${session.level == 10}">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main th:if="${session.level == 10}">
    <section class="customer-dashboard-container">
        <div class="customer-dashboard-item">
            <h2>Tilbud</h2>
            <table>
                <tr>
                    <th>
                    Beskrivelse
                    </th>
                    <th>
                    Pris
                    </th>
                    <th>
                    Start dato
                    </th>
                </tr>
                <tr th:each="offer : ${offers}">
                    <td th:text="${offer.description}"></td>
                    <td th:text="${offer.price}"></td>
                    <td th:text="${offer.startDate}"></td>
                </tr>
            </table>
        </div>
        <div class="customer-dashboard-item">
            <h2>Faktura</h2>
            <table>
                <tr>
                    <th>
                        Faktura nummer
                    </th>
                    <th>
                        Pris
                    </th>
                    <th>
                    </th>
                </tr>
                <tr th:each="invoice : ${invoices}">
                    <td th:text="${invoice.id}"></td>
                    <td th:text="${invoice.price}"></td>
                    <td><a th:href="@{/dashboard/customer/{id}(id=${invoice.id})}">Se mere</a></td>
                </tr>
            </table>
        </div>
    </section>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>