<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:if="${session.level >= 30}">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main class="main">
    <div class="container-table">
        <div class="container-header bg-pink">
            <h1>Kundeliste</h1>
        </div>
        <form method="post" action="/dashboard/kunder" class="msg-form">
            <input type="text" name="search" placeholder="Søg på kunde">
            <button type="submit" class="">Søg</button>
        </form>
        <table>
            <tr>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Email</th>
                <th>Addresse</th>
                <th>Telefon</th>
                <th></th>
            </tr>
            <tr th:each="customer : ${customers}">
                <div th:if="${customer.rid == 1}">
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td><a th:href="@{/dashboard/kunder/{id}(id=${customer.id})}">Se mere</a></td>
                </div>
            </tr>
        </table>
    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>