<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="dashboard/fragments/head :: head" th:remove="tag"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main>
    <div class="main-container">

        <section class="dashboard-container">
            <div class="dashboard-item">
                <a href="/dashboard/tilbud">
                    <div class="dashboard-item-head bg-purple">Tilbud</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/sell.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Se nuværende tilbud</p>
                    </div>
                </a>
            </div>
            <div class="dashboard-item">
                <a href="/dashboard/opgaver">
                    <div class="dashboard-item-head bg-yellow">Opgaver</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/task.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Se nuværende opgaver</p>
                    </div>
                </a>
            </div>
            <div class="dashboard-item">
                <a href="/dashboard/faerdigeopgaver">
                    <div class="dashboard-item-head bg-lightgreen">Færdige Opgaver</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/complete.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Se færdige opgaver</p>
                    </div>
                </a>
            </div>
            <div class="dashboard-item">
                <a href="/dashboard/appointments">
                    <div class="dashboard-item-head bg-brownred">Aftaler</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/calendar.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Se aftaler med kunder</p>
                    </div>
                </a>
            </div>
            <div class="dashboard-item">
                <a href="/dashboard/oekonomi">
                    <div class="dashboard-item-head bg-lightblue">Økonomi</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/chart.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Se statistik over virksomhedens økonomi</p>
                    </div>
                </a>
            </div>
            <div class="dashboard-item">
                <a href="/dashboard/expenses">
                    <div class="dashboard-item-head bg-grey">Udlæg</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/money.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Opret udlæg og få modregnet dine udgifter</p>
                    </div>
                </a>
            </div>
            <div class="dashboard-item">
                <a href="/dashboard/kunder">
                    <div class="dashboard-item-head bg-pink">Kunder</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/customers.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Se en liste over alle registrerede kunder</p>
                    </div>
                </a>
            </div>
            <div class="dashboard-item">
                <a href="/dashboard/brugere">
                    <div class="dashboard-item-head bg-lightred">Brugere</div>
                    <div class="dashboard-item-body">
                        <div class="img-container">
                            <img th:src="@{/icons/users.png}">
                        </div>
                        <div class="item-splider"></div>
                        <p>Se, opret, rediger og slet brugere</p>
                    </div>
                </a>
            </div>
            </section>

        <section class="post-container border">
            <div class="dashboard-item-head bg-greyblue">Opslag</div>
            <div class="dashboard-msg-body">
                <div th:each="message: ${messages}" class="msg-item-container">
                    <div class="sender">
                        <div>
                            <h6 th:text="${message.username}"></h6>
                        </div>
                        <div class="delete-button-container">
                            <a th:if="${message.userId == session.id}" th:href="@{/message/delete/{id}(id=${message.id})}">
                                <img th:src="@{/icons/delete.png}" alt="delete button" class="delete-button">
                            </a>
                            <h6 th:text="${message.createdAt}" class="msg-date"></h6>
                        </div>
                    </div>
                    <div class="msg">
                        <p th:text="${message.msg}"></p>

                    </div>


                     </div>
                <form action="/message/create" method="post" th:object="${Message}" class="msg-form">
                    <input type="text" name="msg" placeholder="Skriv besked..">
                    <input type="hidden" name="userId" th:value="${session.id}">
                    <button type="submit">Send</button>
                </form>
            </div>
        </section>
    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer" th:remove="tag"></div>
</footer>
</body>
</html>