<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main>
    <div class="main-container">

        <section class="dashboard-container">
            <h2 class="dashboard-headline">Dashboard <span class="red">:::</span></h2>
            <div class="dashboard-item"><a href="/dashboard/tilbud"><div class="dashboard-item-head bg-purple">Tilbud</div><div class="dashboard-item-body"><img th:src="@{/icons/sell.png}"></div></a></div>
            <div class="dashboard-item"><a href="/dashboard/opgaver"><div class="dashboard-item-head bg-yellow">Opgaver</div><div class="dashboard-item-body"><img th:src="@{/icons/task.png}"></div></a></div>
            <div class="dashboard-item"><a href="/dashboard/faerdigeopgaver"><div class="dashboard-item-head bg-lightgreen">Færdige opgaver</div><div class="dashboard-item-body"><img th:src="@{/icons/complete.png}"></div></a></div>
            <div class="dashboard-item"><a href="/dashboard/kalender"><div class="dashboard-item-head bg-brownred">Kalender & Aftaler</div><div class="dashboard-item-body"><img th:src="@{/icons/calendar.png}"></div></a></div>
            <div class="dashboard-item"><a href="/dashboard/oekonomi"><div class="dashboard-item-head bg-lightblue">Økonomi</div><div class="dashboard-item-body"><img th:src="@{/icons/chart.png}"></div></a></div>
            <div class="dashboard-item"><a href="/dashboard/udlaeg"><div class="dashboard-item-head bg-grey">Udlæg</div><div class="dashboard-item-body"><img th:src="@{/icons/money.png}"></div></a></div>
            <div class="dashboard-item"><a href="/dashboard/kunder"><div class="dashboard-item-head bg-pink">Kunder</div><div class="dashboard-item-body"><img th:src="@{/icons/money.png}"></div></a></div>
            <div class="dashboard-item"><a href="/dashboard/brugere"><div class="dashboard-item-head bg-lightred">Brugere</div><div class="dashboard-item-body"><img th:src="@{/icons/money.png}"></div></a></div>
        </section>

        <section class="post-container">
            <div class="post-item">
            <div class="post-item-head bg-greyblue">
                Opslag
            </div>
            <div class="post-item-body">

            </div>
            </div>
        </section>
    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>