<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>

    <div>

    </div>

</body>
</html>

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main>
    <div class="main-container">

        <section class="dashboard-container">
            <div class="dashboard-item"><a href="/dashboard/kalender"><div class="dashboard-item-head bg-brownred">Kalender & Aftaler</div>
                <table class="table consultation overviewTable">
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Employee</th>
                        <th>Customer</th>
                    </tr>
                    <div th:each="a:${appointments}">
                        <div th:if="${a.employeeId == session.id OR a.customerId == session.id}">
                            <tr>
                                <td th:text="${a.description}"></td>
                                <td th:text="${a.date}"></td>
                                <td th:text="${a.employee.firstName}"><span th:text="${a.employee.lastName}"></span> </td>
                                <td th:text="${a.customer.firstName}"><span th:text="${a.customer.lastName}"></span></td>
                            </tr>
                        </div>
                    </div>
                </table>
            </a></div>
        </section>

    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>