<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main class="main">
    <div class="oko">
        <div class="oko-grid-contariner" th:each="t : ${total}">
            <div class="head-box bg-lightgreen">
                <p class="head-txt">Total omsætning</p>
            </div>
            <p class="content-txt txt-center"><span th:text="${t.priceSum}"></span> kr.</p>
        </div>
        <div class="oko-grid-contariner" th:each="a : ${average}">
            <div class="head-box bg-greyblue">
                <p class="head-txt">Gennemsnitspris pr. ordre</p>
            </div>
            <p class="content-txt txt-center"><span th:text="${a.priceSum}"></span> kr.</p>
        </div>
        <div class="oko-grid-contariner" th:each="y : ${yearly}">
            <div class="head-box bg-purple">
                <p class="head-txt">Omsætning i år <span th:text="${y.yearNumber}"></span></p>
            </div>
            <p class="content-txt txt-center"><span th:text="${y.priceSum}"></span> kr.</p>
        </div>
        <div class="oko-grid-contariner" >
            <div class="head-box bg-lightred">
                <p class="head-txt">Bedste medarbejder</p>
            </div>
            <table>
                <tr  th:each="e : ${employee}">
                    <th th:text="${e.employeeFirstName + ' ' + e.employeeLastName}"></th>
                    <td th:text="${e.priceSum + ' kr.'}"></td>
                </tr>
            </table>
        </div>
        <div class="oko-grid-contariner">
            <div class="head-box bg-yellow">
                <p class="head-txt">Omsætning måneder</p>
            </div>
            <table>
                <tr th:each="m : ${monthly}">
                    <th th:text="${m.monthName}"></th>
                    <td th:text="${m.priceSum} + ' kr.'"></td>
                </tr>
            </table>
        </div>
        <div class="oko-grid-contariner" >
            <div class="head-box bg-lightblue">
                <p class="head-txt">Top 10</p>
            </div>
            <table>
                <tr th:each="employee : ${employeelist}">
                    <th th:text="${employee.employeeFirstName + ' ' + employee.employeeLastName}"></th>
                    <td th:text="${employee.priceSum + ' kr.'}"></td>
                </tr>
            </table>
        </div>
    </div>
    <script type="application/javascript">
        function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        }
    </script>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>