<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/dashboard/tilbud}">tilbage</a>
<form th:action="@{/dashboard/tilbud/ny}" method="POST" th:object="${Case}">
    <textarea name="description" cols="30" rows="10" placeholder="description"></textarea><br>
    <input type="number" name="price" placeholder="price"><br>
    <input type="datetime-local" name="startDate" placeholder="startDate"><br>
    <input type="date" name="endDate" placeholder="endDate"><br>
    <select name="mode">
        <option value="1">1</option>
    </select><br>
    <select name="customerId">
        <option value="1">1</option>
    </select><br>
    <button type="submit">ok</button>
</form>
</body>
</html>