<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="dashboard/fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="dashboard/fragments/header :: header"></div>
</header>
<main>
    <div class="main-container">

        <section class="dashboard-container">
            <h2 class="dashboard-headline">Dashboard <span class="red">:::</span></h2>
            <div class="dashboard-item"><div class="dashboard-item-head bg-grey">Udlæg</div><div class="dashboard-item-body">

                <form th:action="@{/dashboard/expenses/create}" method="post" th:object="${Expense}">
                    <input type="number" placeholder="Pris" name="price">
                    <input type="text" placeholder="Beskrivelse" name="description">
                    <input type="hidden" th:value="${session.id}" name="employeeId">

                    <button type="submit">Opret Udlæg</button>
                </form>

                <table>
                    <tr>
                        <th>Pris</th>
                        <th>Beskrivelse</th>
                        <th>Medarbejder</th>
                        <th>Muligheder</th>
                    </tr>
                    <div th:each="e:${expenses}">
                        <div th:if="${e.employeeId == session.id OR session.level >= 80}">
                            <tr>
                                <td th:text="${e.price}"></td>
                                <td th:text="${e.description}"></td>
                                <td th:text="${e.employee.firstName} + ' ' + ${e.employee.lastName}"></td>
                                <td>
                                    <a th:href="@{/dashboard/expenses/{id}(id=${e.id})}">Rediger</a>
                                    <form th:action="@{/dashboard/expenses/delete/{id}(id=${e.id})}" method="post">
                                        <button type="submit">Slet</button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    </div>
                </table>
                <a href="/dashboard/expenses/create">Opret Udlæg</a>
            </div></div>
        </section>

    </div>
</main>
<footer>
    <div th:replace="dashboard/fragments/footer :: footer"></div>
</footer>
</body>
</html>