<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<main>
    <section>
        <div class="section-white calc-page">
            <div th:if="${!calcing}" th:remove="tag">
                <h1>Pris på Isolering</h1><br>
                <form th:action="@{/beregner}" method="POST">
                    <label>Hvor mange m^2 skal isoleres?</label><br>
                    <input type="number" name="mTwo"><br>
                    <label>Ny Isolering</label><br>
                    <select name="newIsolering" id="">
                        <option value="150">150 mm</option>
                        <option value="200">200 mm</option>
                        <option value="300">300 mm</option>
                        <option value="400">400 mm</option>
                    </select><br>
                    <button type="submit">Beregn Pris</button>
                </form>
            </div>
            <div th:if="${calcing}" th:remove="tag">
                <p th:text="${price}"></p>
            </div>
        </div>

    </section>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>

