<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<main>
    <section>
        <div class="top-banner">
            <div class="center-text">
                <p>GOODMANSERVICE</p>
                <div class="linesplit"></div>
                <h2>HAR DU ET BYGGEPROJEKT ?</h2>
                <div class="linesplit"></div>
                <p>SÅ KONTAKT DIN LOKALE TØMRER & SNEDKER</p>
                <a href="#omos"><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
    </section>

    <section class="section-white" id="omos">
        <div class="container">
            <div class="head-tekst">
                <p>Introduction</p>
                <h2>OM VORES VIRKSOMHED</h2>
            </div>
            <article class="section-content about">
                <div class="tekst">
                    <div class="h3">
                        <div class="hello"></div>
                        <h3>ÅRETS TØMRER 2019</h3>
                    </div>
                    <p>Vi er utrolig stolte over igen at være blevet kåret til årets tømrer 2019 af portalen anmeldhåndværker.dk. Hver april samles Danmarks højst bedømte håndværker til anmeldhåndværkers årlige prisnominering hvor prisen som årets håndværker bliver uddelt. Goodman Service har været finalist til årets tømrer de sidste 8 år og det løbet til titlen i 2013 og 2019. Det er en fagjury der afgører hvem der skal vinde på baggrund af verificeret kundeanmeldelser. Det der grundlagde vores sejr i 2019 var anmeldelser fra 60 forskellige kunder og et karaktergennemsnit på hele 4.98 ud af 5.0. Dette er vi selvfølgelig utrolig stolt af og vi fortsætter med at gøre vores håndværk ordentligt, så vi forhåbenligt bliver nomineret til årets tømrer i årene fremover.</p>
                </div>
                <div class="image">
                    <img th:src="@{profile.jpg}" alt="">
                </div>
            </article>
        </div>
    </section>

    <section class="section-gray task">
        <div class="container">
            <h2>UDFORSK MERE</h2>
            <div class="section-content tasks">
                <div class="single-task">
                    <div class="pic-1"></div>
                    <div class="information-tekst">
                        <div class="h3">
                            <div class="hello"></div>
                            <h3>VINDUER OG DØRER</h3>
                        </div>
                        <p>Hos GoodmanService er vi specialister i udskiftning af døre og vinduer. Vi har siden firmaet startede i 2006 skiftet tusindvis af vinduer for både private, men også for boligforeninger og rådgivende ingeniørfirmaer. Vi har valgt, at bruge de 2 danske vinduesproducenter KPK og Idealcombi. Dette har vi gjort fordi begge firmaer kan levere vinduer og døre i høj kvalitet og samtidigt er produkterne produceret i Danmark. Hvis vi en sjælden gang oplever problemer med et vindue, så er deres serviceniveau utroligt højt.
                        </p>
                    </div>
                </div>

                <div class="reverse single-task ">
                    <div class="pic-2"></div>
                    <div class="information-tekst">
                        <div class="h3">
                            <div class="hello"></div>
                            <h3>FORSIKRING</h3>
                        </div>
                        <p>Hos GoodmanService er vi vandt til at arbejde med både store og små forsikringsselskaber. At kommunikere med et forsikringsselskab kan ofte være en stor mundfuld, hvis man ikke har styr på de tekniske begreber der bruges indenfor håndværk. Hvis du vælger at bruge dit frie valg til at vælge os som din tømrer/snedker  til din forsikringsopgave, så tager gerne dialogen med forsikringsselskabet og sørger for, at gøre alt hvad vi kan for at de ikke springer over hvor gærdet er lavest.
                        </p>
                    </div>
                </div>

                <div class="single-task">
                    <div class="pic-3"></div>
                    <div class="information-tekst">
                        <div class="h3">
                            <div class="hello"></div>
                            <h3>ISOLERING</h3>
                        </div>
                        <p>Hos Goodmanservice har vi en hel afdeling der kun beskæftiger sig med isoleringsopgaver. Goodmanisolering betjener i dag alle slags kunder, lige fra små privatkunder der skal have udført en hulmursisolering eller loftisolering til store boligsselskaber, der skal have udført tusindvis af kvadratmeter isoleringsopgaver. Der er ingen for små opgaver og ingen for store opgaver.

                        </p>
                    </div>
                </div>

                <div class="single-task reverse">
                    <div class="pic-4"></div>
                    <div class="information-tekst">
                        <div class="h3">
                            <div class="hello"></div>
                            <h3>TERRASSER OG HEGN</h3>
                        </div>
                        <p>Hos GoodmanService beskæftiger vi os også med terrasser og hegn. Vi er meget glade for at arbejde med træ og har derfor en masse erfaring indefor dette område. Vi arbejde for alle former for kunder og er glade for at bruge vores erfaring og færdigeheder til at hjælpe dig med dit projekt. Vi hjælper med både store og små opgaver og vi arbejder hele året rundt.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-white" id="kontakt">
        <div class="container">
            <div class="head-tekst">
                <p>Kontakt</p>
                <h2>SEND OS EN BESKED</h2>
            </div>
            <div class="contact">
                <div class="place">
                    <div class="icon-row">
                        <i class="far fa-building"></i>
                    </div>
                    <div class="text-row">
                        <h4>HOVEDKVARTER</h4>
                        <p>
                            Snedkerfirmaet GoodmanService ApS <br>
                            Tårnbygårdvej 9<br>
                            2770 Kastrup <br>
                            DENMARK
                        </p>
                        <p class="email"><a href="">kontakt@goodmanservice.dk</a></p>
                    </div>
                    <div class="icon-row">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="text-row">
                        <h4>RING TIL OS</h4>
                        <p class="phone">
                            +45 22 24 01 27
                        </p>

                    </div>
                    <div class="icon-row">
                        <i class="far fa-clock"></i>
                    </div>
                    <div class="text-row">
                        <h4>ÅBNINGSTIDER</h4>
                        <p>
                            Mandag-torsdag kl. 8.00-15.30 <br>
                            Fredag kl. 8.00-14.00
                        </p>

                    </div>
                </div>
                <div class="section-content kontakt">
                    <h3>Sig hej til os.</h3>
                    <p>Skriv til os og vi vil vente tilbage til dig så hurtigt som muligt. Skrive alle dine oplysninger, så vi nemt kan få fat i dig.</p>
                    <form action="/" method="post">
                        <input type="text" name="name" placeholder="Navn" required><br>
                        <input type="email" name="email" placeholder="Email" required><br>
                        <input type="tel" name="tlf" placeholder="Telefon" required><br>
                        <textarea name="msg" id="" cols="30" rows="10" placeholder="Besked..." required></textarea>
                        <button type="submit">SEND &nbsp; <i class="fas fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>