<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<main>
    <section>
        <div class="section-white login-page">
            <form action="/login" method="POST">
                <input type="text" name="email" placeholder="email"><br>
                <input type="password" name="password" placeholder="password"><br>
                <button type="submit">ok</button>
            </form>
        </div>
    </section>


</main>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>